# Flutter
.dart_tool/
.packages
build/
*.apk
*.aab
*.jks
*.hprof
local.properties

# Allow committed keystore for consistent signing
!android/ffm-release.keystore

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Misc
*.log
*.tmp
*.swp
